*, *::after, *::before {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #EFECE7;
  background-image: linear-gradient(rgba(#707070, 0.1) 2px, transparent 0),
  linear-gradient(90deg, rgba(#707070, 0.1) 2px, transparent 0);;
  background-size: 60px 60px;
  line-height: 1.5;
}
h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 26px;
}
h2, h3, h4, h5, h6 {
  font-weight: bold;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
a {
  color: #000400;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    color: #03438D;
  }
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}
input {
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
::placeholder {
  color: $gray-500;
}
textarea {
  resize: none;
  padding: 12px 16px;
  font-size: 16px;
}