/*margin、padding設定*/
@each $name, $key in $spaces {
  .mr-#{$name} {
    margin-right: $key;
  }
  .mb-#{$name} {
    margin-bottom: $key;
  }
}
/*display*/
.d-block {
  display: block;
}
/*flex 設定*/
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
@each $name, $key in $jc {
  .jc-#{$name} {
    justify-content: $key;
  }
}
@each $name, $key in $ai {
  .ai-#{$name} {
    align-items: $key;
  }
}
/*文字、背景顏色設定*/
@each $name, $key in $colors {
  .text-#{$name} {
    color: $key;
  }
  .bg-#{$name} {
    background: $key;
  }
}
/* 文字設定 */
@each $name, $key in $font-size {
  .fs-#{$name} {
    font-size: $key;
  }
}
@each $name, $key in $fws {
  .fw-#{$name} {
    font-weight: $key;
  }
}
.font {
  &-family-baloo {
    font-family: 'Baloo Da 2', cursive;
  }
  &-family-azeret {
    font-family: 'Azeret Mono', monospace;
  }
}
.text {
  &-center {
    text-align: center;
  }
}
/*寬高度100%*/
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.container {
  width: 896px;
  margin: 0 auto;
}